<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!-- Start RequestInfo context type alias -->
    <alias alias="IRequestInfo" type="Recipe.Core.Base.Interface.IRequestInfo, Recipe.Core" />
    <alias alias="RequestInfo" type="Test.API.Infrastructure.RequestInfo, Test.API" />
    <!-- End RequestInfo context type alias -->

    <!--<alias alias="IUserService" type="Recipe.Core.Base.Interface.IService`2[[Test.Data.DTO.UserDTO, Test.Data],[System.Int32,mscorlib]],  Recipe.Core" />
    <alias alias="UserService" type="Recipe.Core.Base.Generic.Service`4[Recipe.Core.Base.Interface.IRepository`2[[Test.Data.Model.User, Test.Data],[System.Int32,mscorlib]],[Test.Data.Model.User, Test.Data],[Test.Data.DTO.UserDTO, Test.Data],[System.Int32,mscorlib]], Recipe.Core" />-->
    
    <alias alias="IUserService" type="Test.Service.Interface.IUserService,  Test.Service" />
    <alias alias="UserService" type="Test.Service.Concrete.UserService, Test.Service" />
    
    <!-- End User-defined type aliases for Services -->

    <alias alias="IUserRepository" type="Recipe.Core.Base.Interface.IRepository`2[[Test.Data.Model.User, Test.Data],[System.Int32,mscorlib]], Recipe.Core" />
    <alias alias="UserRepository" type="Recipe.Core.Base.Generic.Repository`2[[Test.Data.Model.User, Test.Data],[System.Int32,mscorlib]], Recipe.Core" />

    <!-- Start User-defined type alias for UnitOfWork -->
    <alias alias="ITestUnitOfWork" type="Test.Repository.ITestUnitOfWork, Test.Repository" />
    <alias alias="TestUnitOfWork" type="Test.Repository.TestUnitOfWork, Test.Repository" />
    <!-- End User-defined type alias for UnitOfWork -->

    <container>
      <register type="IRequestInfo" mapTo="RequestInfo" >
        <lifetime type="singleton"/>
      </register>
      <register type="IUserRepository" mapTo="UserRepository" >
        <lifetime type="singleton"/>
      </register>
      <register  type="IUserService" mapTo="UserService" >
        <lifetime type="singleton"/>
      </register>
      <register  type="ITestUnitOfWork" mapTo="TestUnitOfWork" >
        <lifetime type="singleton"/>
      </register>

    </container>
  </unity>
</configuration>
